<div class="row">
    <div class="col-md-12">
        <input type="text" name="Busca" value="" class="form-control" placeholder="Buscar conteúdo" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="img-avatar">
            <img src="~/School.png" class="center-img" style="width: 320px" />
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12 caixa-padrao">
        <div class="row">
            <div class="col-md-2 icon-padrao fonte-2em">
                <a href="@Url.Action("Renda","Home")"><i class="fas fa-unlock-alt"></i></a> 
            </div>
            <div class="col-md-5 font-weight-bold fonte-2em">
                Finanças Pessoais
                <small class="icon-padrao">Aberto</small>
            </div>
            <div class="col-md-5 icon-padrao text-right fonte-2em">
                <i class="fas fa-play-circle"></i>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12 caixa-padrao">
        <div class="row">
            <div class="col-md-2 icon-padrao fonte-2em">
                <a href="@Url.Action("Renda","Home")"><i class="fas fa-unlock-alt"></i></a>
            </div>
            <div class="col-md-5 font-weight-bold fonte-2em">
                Renda Fixa
                <small class="icon-padrao">R$ 200,00 para desbloquear</small>
            </div>
            <div class="col-md-5 icon-padrao text-right fonte-2em">
                <i class="fas fa-play-circle"></i>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12 caixa-padrao">
        <div class="row">
            <div class="col-md-2 icon-padrao fonte-2em">
                <i class="fas fa-unlock-alt"></i>
            </div>
            <div class="col-md-5 font-weight-bold fonte-2em">
                Aposentadoria
                <small class="icon-padrao">R$ 500,00 para desbloquear</small>
            </div>
            <div class="col-md-5 icon-padrao text-right fonte-2em">
                <i class="fas fa-play-circle"></i>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12 caixa-padrao">
        <div class="row">
            <div class="col-md-2 vermelho fonte-2em">
                <i class="fas fa-lock"></i>
            </div>
            <div class="col-md-5 font-weight-bold fonte-2em">
                Bolsa de valores
                <small class="vermelho">R$ 800,00 para desbloquear</small>
            </div>
            <div class="col-md-5 vermelho text-right fonte-2em">
                <i class="fas fa-play-circle"></i>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2 rodape">
    <div class="col-md-12 caixa-padrao">
        <div class="row">
            <div class="col-md-4 font-weight-bold fonte-2em text-center">
                <a href="@Url.Action("Investimento","Home")"><i class="fas fa-file-invoice-dollar"></i></a>   
            </div>
            <div class="col-md-4 font-weight-bold fonte-2em text-center">
                <a href="@Url.Action("Index","Home")"><i class="fas fa-home"></i></a>   
            </div>
            <div class="col-md-4 font-weight-bold fonte-2em text-center">
                <i class="fas fa-user-graduate"></i>
            </div>
        </div>
    </div>
</div>