@{
    
}

<div class="text-center">
    <h4 class="display-4">Oi, Sam Adam</h4>
    <h3 class="display-3 text-white">R$ 580,00</h3>
    <p class="text-white">Seus créditos</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="img-avatar center-img">
            <img src="~/sam.png" class="img-avatar" style="position: absolute; margin-top: -17px; z-index: 9; margin-left: 20%;" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 caixa-padrao">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12 text-center icon-padrao fonte-2em">
                    <i class="fas fa-wallet"></i>
                </div>
                <div class="col-md-12 font-weight-bold text-center fonte-2em">
                    R$80,00
                </div>
                <div class="col-md-12 text-center">
                    Sua Carteira
                </div>
            </div>

            <div class="col-md-4 text-center fonte-3em" style="padding-top: 135px;">
                +
            </div>

            <div class="col-md-4">
                <div class="col-md-12 text-center icon-padrao fonte-2em">
                    <i class="fas fa-wallet"></i>
                </div>
                <div class="col-md-12 font-weight-bold text-center fonte-2em">
                    R$500,00
                </div>
                <div class="col-md-12 text-center">
                    Investimentos
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12 caixa-padrao">
        <div class="row">
            <div class="col-md-2 icon-padrao fonte-2em">
                <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="col-md-5 fonte-2em">
                Aposentadoria
            </div>
            <div class="col-md-5 font-weight-bold text-right fonte-2em">
                R$ 140,00
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12 caixa-padrao">
        <div class="row">
            <div class="col-md-2 icon-padrao fonte-2em">
                <i class="fas fa-dollar-sign"></i>
            </div>
            <div class="col-md-5 fonte-2em">
                Renda Fixa
            </div>
            <div class="col-md-5 font-weight-bold  text-right fonte-2em">
                R$ 200,00
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12 caixa-padrao caixa-verde">
        <div class="row">
            <div class="col-md-2 font-weight-bold fonte-2em">
                <i class="fas fa-check-square"></i>
            </div>
            <div class="col-md-5 fonte-2em">
                Atividades Concluídas
            </div>
            <div class="col-md-5 font-weight-bold text-right fonte-2em">
                R$ 500,00
            </div>
        </div>
    </div>
</div>

<div class="row mt-2 rodape">
    <div class="col-md-12 caixa-padrao">
        <div class="row">
            <div class="col-md-4 font-weight-bold fonte-2em text-center">
                <a href="@Url.Action("Investimento","Home")"><i class="fas fa-file-invoice-dollar"></i></a>  
            </div>
            <div class="col-md-4 font-weight-bold fonte-2em text-center">
                <i class="fas fa-home"></i>
            </div>
            <div class="col-md-4 font-weight-bold fonte-2em text-center">
                <a href="@Url.Action("Estudo","Home")"> <i class="fas fa-user-graduate"></i></a> 
            </div>
        </div>
    </div>
</div>