
<div class="row mt-4">
    <div class="col-md-12">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/r4NL1u0P1p0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 50%; margin-left: auto; margin-right: auto; display: block;"></iframe>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12 text-white text-center">
        <h4>Renda Fixa</h4>
    </div>
  
</div>
<div class="row mt-4">
    <div class="col-md-12 text-white text-center">
        Você sabe o que é renda fixa? Nesta aula vamos entender como você pode investir melhor o seu dinheiro do que depender apenas da velha poupança.
    </div>
    <div class="col-md-12 text-white text-center">
        O primeiro passo para melhor muitos, acaba sendo começar por títulos de Rende Fixa, como o Tesouro Direto, CDBs entre outros, que trazem certa segurança, já que possuem um risco baixíssimo.
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12 caixa-padrao">
        <div class="row">
            <div class="col-md-2 icon-padrao fonte-2em">
                <i class="fas fa-book-open"></i>
            </div>
            <div class="col-md-5 font-weight-bold fonte-2em">
               Ir para o Desafio
               
            </div>
            <div class="col-md-5 font-weight-bold text-right fonte-2em">
                R$ 200,00
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12 caixa-padrao">
        <div class="row">
            <div class="col-md-2 icon-padrao fonte-2em">
                <a href="@Url.Action("Estudo","Home")"><i class="fas fa-user-graduate"></i></a>  
            </div>
            <div class="col-md-5 font-weight-bold fonte-2em">
               Voltar para os conteúdos

            </div>
            <div class="col-md-5 font-weight-bold text-right fonte-2em">
               
            </div>
        </div>
    </div>
</div>

<div class="row mt-2 rodape">
    <div class="col-md-12 caixa-padrao">
        <div class="row">
            <div class="col-md-4 font-weight-bold fonte-2em text-center">
                <a href="@Url.Action("Investimento","Home")"><i class="fas fa-file-invoice-dollar"></i></a>
            </div>
            <div class="col-md-4 font-weight-bold fonte-2em text-center">
                <a href="@Url.Action("Index","Home")"><i class="fas fa-home"></i></a>
            </div>
            <div class="col-md-4 font-weight-bold fonte-2em text-center">
                <a href="@Url.Action("Estudo","Home")"><i class="fas fa-user-graduate"></i></a>  
            </div>
        </div>
    </div>
</div>
